<div class="header-text">
  <h3><b>Pricing Location Address</b></h3>
</div>

<div class="location_form">
  <%= form_tag("/main_page", method: "post") do %>
    <div class="label">
      <%= label_tag(:location_address, "Please fill in the complete address.") %>
    </div>
    <div class="input-field">
      <%= text_field_tag(:address) %>
    </div>
    <div class="submit-button">
      <%= submit_tag("Find Location", class: "find-location-button") %>
    </div>

    <p class="message"></p>
  <% end %>
</div>
