@import 'bootstrap';

.message {
  color: red;
  margin-top: 15px;
}

.header-text {
  background-color: red;
  text-align: center;
}

.input-field {
  text-align: center;
}

.label {
  text-align: center;
}

.submit-button {
  text-align: center;
}
